@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Montserrat, sans-serif;
  --gray: #475467;
  --dark-border: #d9d9d9;
}

h2 {
  color: #101828;
  font-size: 26px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.aside-style {
  @apply inline-flex gap-2 items-center px-4 py-3  rounded-lg hover:bg-primary-blue cursor-pointer text-primary-blue hover:text-white;
}
